
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader{
    background-color: rgb(210, 180, 222);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}


